<section class="faq">
    <div class="inner">
        <div class="title_wrap">
        <p class="sub scroll"><span>FAQ</span></p>
        <h2 class="title scroll">よくあるご質問</h2>
        </div>
        <ul class="link_item scroll">
            <li>
                <a href="faq.html#order_payment" class="link_list">
                <div class="link_text_wrap">
                    <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/money_icon.svg" alt="" class="icon">
                    <p class="link_text">注文・支払いについて</p>
                </div>
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/arrow.svg" alt="">
                </a>
            </li>
            <li>
                <a href="faq.html#shipping_cost" class="link_list">
                <div class="link_text_wrap">
                    <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/truck_icon.svg" alt="" class="icon">
                    <p class="link_text">配送・送料について</p>
                </div>
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/arrow.svg" alt="">
                </a>
            </li>
    
            <li>
                <a href="faq.html#return_exchange" class="link_list">
                <div class="link_text_wrap">
                    <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/box_icon.svg" alt="" class="icon">
                    <p class="link_text">返品・交換について</p>
                </div>
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/arrow.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
</section>