<footer>
  <div class="inner">
    <div class="footer_wrap">
      <div class="left">
        <div class="footerlogo">
          <a href="{{ routes.root_url }}" class="obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/logo.png" alt="創業昭和四十年 元祖沖縄餃子 琉眠眠"></a>
          <p class="footer_logo_txt">公式オンラインストア</p>
          <p class="address">901-2131 沖縄県浦添市牧港4丁目25番6号</p>
          <p class="tel">TEL：098-875-0178</p>
          <p class="busi-hours">営業時間 8:00～19:00<br>日曜日 9:00～19:00</p>
        </div>
      </div>
      <div class="footer_right">
        <div class="menu-left">
          <ul>
            <li><a href="{{ routes.root_url }}">TOP</a></li>
            <li><a href="/pages/about/">琉眠眠について</a></li>
            <li><a href="/collections/all/">商品一覧</a></li>
            <li><a href="/pages/faq/">よくあるご質問</a></li>
            <li><a href="/pages/contact/">お問い合わせ</a></li>
          </ul>
        </div>
        <div class="menu-right">
          <ul>
            <li class="footer_login">
              <a href="/account/login/"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/icon-login.svg" alt="" style="margin-right: 7px;">ログイン</a>
            </li>
            <li  class="footer_cart">
              <a href="/cart/"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/icon-cart.svg" alt="" style="margin-right: 7px;">カート</a>
            </li>
            <li><a href="/pages/company/">会社概要</a></li>
            <li><a href="/pages/terms/">特定商取引法に基づく表記</a></li>
            <li><a href="/pages/privacy-policy/">プライバシーポリシー</a></li>
            <li><a href="#" class="official">琉眠眠公式サイト<img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/link_icon.svg" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div><!--./footer_wrap-->

    <div class="sp_footer_wrap">
      <div class="footerlogo_wrap">
        <a href="{{ routes.root_url }}" class="f_logo obj-fit">
          <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/logo_sp.png" alt="創業昭和四十年 元祖沖縄餃子 琉眠眠">
          <p class="footter_logo_txt">公式オンラインストア</p>
        </a>
      </div>
      <div class="footer_nav">
        <ul class="nav_left">
          <li><a href="{{ routes.root_url }}">TOP</a></li>
          <li><a href="/pages/about/">琉眠眠について</a></li>
          <li><a href="/collections/all/">商品一覧</a></li>
          <li><a href="/pages/faq/">よくあるご質問</a></li>
          <li><a href="/pages/contact/">お問い合わせ</a></li>
        </ul>
        <ul class="nav_right">
          <li class="login">
            <a href="/account/login/"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/icon-login.svg" alt="" style="margin-right: 7px;">ログイン</a>
          </li>
          <li  class="cart">
            <a href="/cart/"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/icon-cart.svg" alt="" style="margin-right: 7px;">カート</a>
          </li>
        </ul>
      </div>
      <div class="under_nav">
        <ul class="top">
          <li><a href="/pages/company/">会社概要</a></li>
          <li><a href="/pages/terms/">特定商取引法に基づく表記</a></li>
        </ul>
        <ul class="bottom">
          <li><a href="/pages/privacy-policy/">プライバシーポリシー</a></li>
          <li><a href="http://www.ryu-minmin.com/" class="official">琉眠眠公式サイト<img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/link_icon.svg" alt=""></a></li>
        </ul>
      </div>
      <div class="info">
        <p class="address">901-2131 沖縄県浦添市牧港4丁目25番6号</p>
        <p class="tel">TEL：098-875-0178</p>
        <p class="busi-hours">営業時間 8:00～19:00<br>日曜日 9:00～19:00</p>
      </div>
    </div><!--./sp_footer_wrap-->

    <div class="footer_bottom">
      <p class="copy">Copyright © Ryuminmin GYOZA All right reserved.</p>
    </div>
  </div>
</footer>