<section class="p-recommend">
    <div class="underpage_inner">
        <div class="title_wrap">
            <h2 class="r-title scroll">こちらもおすすめ！</h2>
        </div>
    
        <div class="list_contents scroll" data-simplebar>
            <ul class="list_area">
                <li>
                    <a href="products-detail.html">
                        <div class="img-box obj-fit"><img src="./images/product_dammy.jpg" alt=""></div>
                        <p class="cate">カテゴリ名</p>
                        <p class="item-name">商品名</p>
                        <p class="price">0,000円(税込)</p>
                    </a>
                    <div class="cart_btn">
                        <a href="products-detail.html" class="cart">カートに入れる</a>
                    </div>
                </li>

                <li>
                    <a href="products-detail.html">
                        <div class="img-box obj-fit"><img src="./images/product_dammy.jpg" alt=""></div>
                        <p class="cate">カテゴリ名</p>
                        <p class="item-name">商品名</p>
                        <p class="price">0,000円(税込)</p>
                    </a>
                    <div class="cart_btn">
                        <a href="products-detail.html" class="cart">カートに入れる</a>
                    </div>
                </li>

                <li>
                    <a href="products-detail.html">
                        <div class="img-box obj-fit"><img src="./images/product_dammy.jpg" alt=""></div>
                        <p class="cate">カテゴリ名</p>
                        <p class="item-name">商品名</p>
                        <p class="price">0,000円(税込)</p>
                    </a>
                    <div class="cart_btn">
                        <a href="products-detail.html" class="cart">カートに入れる</a>
                    </div>
                </li><!-- /.item-card -->

                <li>
                    <a href="products-detail.html">
                        <div class="img-box obj-fit"><img src="./images/product_dammy.jpg" alt=""></div>
                        <p class="cate">カテゴリ名</p>
                        <p class="item-name">商品名</p>
                        <p class="price">0,000円(税込)</p>
                    </a>
                    <div class="cart_btn">
                        <a href="products-detail.html" class="cart">カートに入れる</a>
                    </div>
                </li><!-- /.item-card -->

                <li>
                    <a href="products-detail.html">
                        <div class="img-box obj-fit"><img src="./images/product_dammy.jpg" alt=""></div>
                        <p class="cate">カテゴリ名</p>
                        <p class="item-name">商品名</p>
                        <p class="price">0,000円(税込)</p>
                    </a>
                    <div class="cart_btn">
                        <a href="products-detail.html" class="cart">カートに入れる</a>
                    </div>
                </li><!-- /.item-card -->
            </ul>
        </div>
    </div>
</section>

{% render 'under_faq' %}
