<!-- 固定フィルター -->
<!-- <div class="filter_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/bg_fixd.png" alt=""></div> -->
<div class="video-cover">
    <video id="screen" src="videos/ryuminmin_top.mp4" autoplay muted playsinline loop></video>
</div>
<!-- メインビジュアル -->
<div class="p-top_mv">
    <div class="mv_inner">
    <div class="mv_01 obj-fit">
        <img class="img-pc" src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/copy_pc.png" alt="元祖沖縄餃子 じゅわっと広がる沖縄のご当地餃子">
        <img class="img-sp" src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/copy_sp.png" alt="元祖沖縄餃子 じゅわっと広がる沖縄のご当地餃子">
    </div>
    <div class="illust_r obj-fit">
        <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/bg_illust_r.png" alt="">
    </div>
    <div class="illust_l obj-fit">
        <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/bg_illust_l.png" alt="">
    </div>
    <div class="eat obj-fit">
        <!-- <div class="eat_wrap"> -->
        <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/gyoza_kirinuki.png" alt="">
        <!-- </div> -->
    </div>

    <div class="dumpling_l">
        <div class="img-box obj-fit">
        <div class="swiper">
            <div class="swiper-wrapper">
            <div class="swiper-slide mv01">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/mv01_l.png" alt="">
            </div>
            <div class="swiper-slide mv02">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/mv02_l.png" alt="">
            </div>
            <div class="swiper-slide mv03">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/mv03_l.png" alt="">
            </div>
            <div class="swiper-slide mv04">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/mv04_l.png" alt="">
            </div>
            <div class="swiper-slide mv04">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/mv05_l.png" alt="">
            </div>
            </div><!-- /.swiper-wrapper -->
        </div><!-- /.swiper -->
        </div>
    </div>
    <div class="dumpling_r">
        <div class="img-box obj-fit">
            <div class="swiper swiper02">
            <div class="swiper-wrapper">
                <div class="swiper-slide mv01">
                    <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/mv01_r.png" alt="">
                </div>
                <div class="swiper-slide mv02">
                    <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/mv02_r.png" alt="">
                </div>
                <div class="swiper-slide mv03">
                    <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/mv03_r.png" alt="">
                </div>
                <div class="swiper-slide mv04">
                    <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/mv04_r.png" alt="">
                </div>
                <div class="swiper-slide mv04">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/mv05_r.png" alt="">
                </div>
            </div><!-- /.swiper-wrapper -->
            </div>
        </div>
    </div>
    <!-- <div class="c-txt">
        <h1>じゅわっと広がる
            <br>沖縄のご当地餃子</h1>
    </div>/.c-txt -->
    </div><!--/.mv_inner-->
</div><!-- /.p-top_mv -->

<section class="about">
    <div class="inner_s about_inner">
        <div class="about_content_wrap">
        <div class="title_wrap">
            <h2 class="title vertical_ttl eachTextAnime">沖縄餃子</h2>
            <h2 class="title vertical_ttl eachTextAnime">こだわり抜いた</h2>
            <h2 class="title vertical_ttl eachTextAnime">沖縄の食材に </h2>
            <p class="sub vertical_sub"><span>ABOUT US</span></p>
        </div>
        <p class="txt scroll">
            ご当地餃子の新定番、沖縄餃子。
            <br>沖縄の食材にこだわり、素材が活きた沖縄で愛され続けている餃子です。
            <br>老舗の餃子屋の元祖沖縄餃子、一度食べたら忘れられない味。
            累計1億4,000万個の販売実績を誇る私たちの餃子は、「マツコの知らない世界」や「めざましテレビ」など多数のメディアに取り上げられました。
            <br>他では味わえない沖縄ならではの餃子をお楽しみください。
        </p>
        <div class="btn_wrap scroll">
            <a href="about.html">琉眠眠について</a>
        </div>
        <div class="about_gyoza obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/about_gyoza.png" alt="">
        </div>
        </div>
    </div>
</section>

<section class="recommend">
    <div class="inner recommend_inner">
        <div class="title_wrap">
        <p class="sub scroll"><span>RECOMMEND</span></p>
        <h2 class="title scroll">おすすめ商品</h2>
        </div>
        <div class="list_contents scroll" data-simplebar>
        <ul class="list_area">
            <li>
            <a href="products-detail.html">
                <div class="img_box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/agu.jpg" alt=""></div>
                <p>カテゴリ名</p>
                <p>商品名</p>
                <p>0,000円(税込)</p>
            </a>
            <div class="recommend_btn">
                <a href="#" class="r_list">                  
                <svg viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="enable-background:new 0 0 25 25;" xml:space="preserve"><style type="text/css">.st0{fill:#FFFFFF;}</style>
                    <path class="st0" d="M18.7,16.7c0.6,0,1.1,0.2,1.5,0.6c0.4,0.4,0.6,0.9,0.6,1.5s-0.2,1.1-0.6,1.5c-0.4,0.4-0.9,0.6-1.5,0.6c-0.6,0-1.1-0.2-1.5-0.6c-0.4-0.4-0.6-0.9-0.6-1.5C16.6,17.6,17.5,16.7,18.7,16.7z M2,0h3.4l1,2.1h15.4c0.3,0,0.5,0.1,0.7,0.3c0.2,0.2,0.3,0.5,0.3,0.7c0,0.2-0.1,0.4-0.1,0.5L19,10.4c-0.4,0.6-1,1.1-1.8,1.1H9.4l-0.9,1.7l0,0.1c0,0.1,0,0.1,0.1,0.2c0,0,0.1,0.1,0.2,0.1h12.1v2.1H8.2c-0.6,0-1.1-0.2-1.5-0.6c-0.4-0.4-0.6-0.9-0.6-1.5c0-0.4,0.1-0.7,0.2-1L7.8,10L4.1,2.1H2V0z M8.2,16.7c0.6,0,1.1,0.2,1.5,0.6c0.4,0.4,0.6,0.9,0.6,1.5s-0.2,1.1-0.6,1.5c-0.4,0.4-0.9,0.6-1.5,0.6s-1.1-0.2-1.5-0.6c-0.4-0.4-0.6-0.9-0.6-1.5C6.2,17.6,7.1,16.7,8.2,16.7z M17.6,9.4l2.9-5.2H7.4l2.5,5.2H17.6z"/>
                </svg>カートに入れる
                </a>
            </div>
            </li>
            <li>
            <a href="products-detail.html">
                <div class="img_box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/recommend_dammy.png" alt=""></div>
                <p>カテゴリ名</p>
                <p>商品名</p>
                <p>0,000円(税込)</p>
            </a>
            <div class="recommend_btn">
                <a href="#" class="r_list">                  
                <svg viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="enable-background:new 0 0 25 25;" xml:space="preserve"><style type="text/css">.st0{fill:#FFFFFF;}</style>
                    <path class="st0" d="M18.7,16.7c0.6,0,1.1,0.2,1.5,0.6c0.4,0.4,0.6,0.9,0.6,1.5s-0.2,1.1-0.6,1.5c-0.4,0.4-0.9,0.6-1.5,0.6c-0.6,0-1.1-0.2-1.5-0.6c-0.4-0.4-0.6-0.9-0.6-1.5C16.6,17.6,17.5,16.7,18.7,16.7z M2,0h3.4l1,2.1h15.4c0.3,0,0.5,0.1,0.7,0.3c0.2,0.2,0.3,0.5,0.3,0.7c0,0.2-0.1,0.4-0.1,0.5L19,10.4c-0.4,0.6-1,1.1-1.8,1.1H9.4l-0.9,1.7l0,0.1c0,0.1,0,0.1,0.1,0.2c0,0,0.1,0.1,0.2,0.1h12.1v2.1H8.2c-0.6,0-1.1-0.2-1.5-0.6c-0.4-0.4-0.6-0.9-0.6-1.5c0-0.4,0.1-0.7,0.2-1L7.8,10L4.1,2.1H2V0z M8.2,16.7c0.6,0,1.1,0.2,1.5,0.6c0.4,0.4,0.6,0.9,0.6,1.5s-0.2,1.1-0.6,1.5c-0.4,0.4-0.9,0.6-1.5,0.6s-1.1-0.2-1.5-0.6c-0.4-0.4-0.6-0.9-0.6-1.5C6.2,17.6,7.1,16.7,8.2,16.7z M17.6,9.4l2.9-5.2H7.4l2.5,5.2H17.6z"/>
                </svg>カートに入れる
                </a>
            </div>
            </li>
            <li>
            <a href="products-detail.html">
                <div class="img_box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/recommend_dammy.png" alt=""></div>
                <p>カテゴリ名</p>
                <p>商品名</p>
                <p>0,000円(税込)</p>
            </a>
            <div class="recommend_btn">
                <a href="#" class="r_list">                  
                <svg viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="enable-background:new 0 0 25 25;" xml:space="preserve"><style type="text/css">.st0{fill:#FFFFFF;}</style>
                    <path class="st0" d="M18.7,16.7c0.6,0,1.1,0.2,1.5,0.6c0.4,0.4,0.6,0.9,0.6,1.5s-0.2,1.1-0.6,1.5c-0.4,0.4-0.9,0.6-1.5,0.6c-0.6,0-1.1-0.2-1.5-0.6c-0.4-0.4-0.6-0.9-0.6-1.5C16.6,17.6,17.5,16.7,18.7,16.7z M2,0h3.4l1,2.1h15.4c0.3,0,0.5,0.1,0.7,0.3c0.2,0.2,0.3,0.5,0.3,0.7c0,0.2-0.1,0.4-0.1,0.5L19,10.4c-0.4,0.6-1,1.1-1.8,1.1H9.4l-0.9,1.7l0,0.1c0,0.1,0,0.1,0.1,0.2c0,0,0.1,0.1,0.2,0.1h12.1v2.1H8.2c-0.6,0-1.1-0.2-1.5-0.6c-0.4-0.4-0.6-0.9-0.6-1.5c0-0.4,0.1-0.7,0.2-1L7.8,10L4.1,2.1H2V0z M8.2,16.7c0.6,0,1.1,0.2,1.5,0.6c0.4,0.4,0.6,0.9,0.6,1.5s-0.2,1.1-0.6,1.5c-0.4,0.4-0.9,0.6-1.5,0.6s-1.1-0.2-1.5-0.6c-0.4-0.4-0.6-0.9-0.6-1.5C6.2,17.6,7.1,16.7,8.2,16.7z M17.6,9.4l2.9-5.2H7.4l2.5,5.2H17.6z"/>
                </svg>カートに入れる
                </a>
            </div>
            </li>
            <li>
            <a href="products-detail.html">
                <div class="img_box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/recommend_dammy.png" alt=""></div>
                <p>カテゴリ名</p>
                <p>商品名</p>
                <p>0,000円(税込)</p>
            </a>
            <div class="recommend_btn">
                <a href="#" class="r_list">                  
                <svg viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="enable-background:new 0 0 25 25;" xml:space="preserve"><style type="text/css">.st0{fill:#FFFFFF;}</style>
                    <path class="st0" d="M18.7,16.7c0.6,0,1.1,0.2,1.5,0.6c0.4,0.4,0.6,0.9,0.6,1.5s-0.2,1.1-0.6,1.5c-0.4,0.4-0.9,0.6-1.5,0.6c-0.6,0-1.1-0.2-1.5-0.6c-0.4-0.4-0.6-0.9-0.6-1.5C16.6,17.6,17.5,16.7,18.7,16.7z M2,0h3.4l1,2.1h15.4c0.3,0,0.5,0.1,0.7,0.3c0.2,0.2,0.3,0.5,0.3,0.7c0,0.2-0.1,0.4-0.1,0.5L19,10.4c-0.4,0.6-1,1.1-1.8,1.1H9.4l-0.9,1.7l0,0.1c0,0.1,0,0.1,0.1,0.2c0,0,0.1,0.1,0.2,0.1h12.1v2.1H8.2c-0.6,0-1.1-0.2-1.5-0.6c-0.4-0.4-0.6-0.9-0.6-1.5c0-0.4,0.1-0.7,0.2-1L7.8,10L4.1,2.1H2V0z M8.2,16.7c0.6,0,1.1,0.2,1.5,0.6c0.4,0.4,0.6,0.9,0.6,1.5s-0.2,1.1-0.6,1.5c-0.4,0.4-0.9,0.6-1.5,0.6s-1.1-0.2-1.5-0.6c-0.4-0.4-0.6-0.9-0.6-1.5C6.2,17.6,7.1,16.7,8.2,16.7z M17.6,9.4l2.9-5.2H7.4l2.5,5.2H17.6z"/>
                </svg>カートに入れる
                </a>
            </div>
            </li>
            <li>
            <a href="products-detail.html">
                <div class="img_box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/recommend_dammy.png" alt=""></div>
                <p>カテゴリ名</p>
                <p>商品名</p>
                <p>0,000円(税込)</p>
            </a>
            <div class="recommend_btn">
                <a href="#" class="r_list">                  
                <svg viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="enable-background:new 0 0 25 25;" xml:space="preserve"><style type="text/css">.st0{fill:#FFFFFF;}</style>
                    <path class="st0" d="M18.7,16.7c0.6,0,1.1,0.2,1.5,0.6c0.4,0.4,0.6,0.9,0.6,1.5s-0.2,1.1-0.6,1.5c-0.4,0.4-0.9,0.6-1.5,0.6c-0.6,0-1.1-0.2-1.5-0.6c-0.4-0.4-0.6-0.9-0.6-1.5C16.6,17.6,17.5,16.7,18.7,16.7z M2,0h3.4l1,2.1h15.4c0.3,0,0.5,0.1,0.7,0.3c0.2,0.2,0.3,0.5,0.3,0.7c0,0.2-0.1,0.4-0.1,0.5L19,10.4c-0.4,0.6-1,1.1-1.8,1.1H9.4l-0.9,1.7l0,0.1c0,0.1,0,0.1,0.1,0.2c0,0,0.1,0.1,0.2,0.1h12.1v2.1H8.2c-0.6,0-1.1-0.2-1.5-0.6c-0.4-0.4-0.6-0.9-0.6-1.5c0-0.4,0.1-0.7,0.2-1L7.8,10L4.1,2.1H2V0z M8.2,16.7c0.6,0,1.1,0.2,1.5,0.6c0.4,0.4,0.6,0.9,0.6,1.5s-0.2,1.1-0.6,1.5c-0.4,0.4-0.9,0.6-1.5,0.6s-1.1-0.2-1.5-0.6c-0.4-0.4-0.6-0.9-0.6-1.5C6.2,17.6,7.1,16.7,8.2,16.7z M17.6,9.4l2.9-5.2H7.4l2.5,5.2H17.6z"/>
                </svg>カートに入れる
                </a>
            </div>
            </li>
        </ul>
        </div>
    </div>
</section>

<div class="dumpling_big obj-fit">
    <img class="pc_img" src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/dumpling_big.png" alt="">
    <img class="sp_img" src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/dumpling_bg_sp.png" alt="">
</div>

<div class="eat_wrap">
    <!-- <div class="inner eat_inner"> -->
    <div class="video-cover02">
        <video id="screen" src="videos/ryuminmin_top.mp4" autoplay muted playsinline loop></video>
    </div>
    <div class="p_eat obj-fit">
        <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/gyoza_kirinuki.png" alt="">
    </div>
    <!-- </div> -->
</div>

<section class="products">
    <div class="product_wrap">
    <div class="inner products_inner over">
        <div class="title_wrap">
        <p class="sub scroll"><span>PRODUCTS</span></p>
        <h2 class="title p_ttl scroll">沖縄餃子を全国に</h2>
        <h2 class="p_ttl02 scroll"><span class="big">7</span>つの沖縄の味</h2>
        </div>
        <div class="product_contents">
        <ul class="product_list">
            <li class="scroll">
            <div class="p_txt_wrap">
                <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product01.png" alt=""></div>
                <div class="p_txt">
                <h4>沖縄県産豚100%使用！</h4>
                <h3>01.琉珉珉餃子</h3>
                <p>沖縄県産豚を100%使用した、肉汁がたっぷり溢れ出すジューシーで甘みのある餃子です。</p>
                <div class="btn_wrap_side">
                    <div class="btn_wrap">
                    <a href="products-detail.html">琉珉珉餃子とは</a>
                    </div>
                    <div class="btn_wrap">
                    <a href="#">商品を買う</a>
                    </div>
                </div><!-- /btn_wrap_side-->
                </div><!-- /p_txt-->
            </div><!-- /p_txt_wrap-->
            </li>

            <li class="second reverse scroll">
            <div class="p_txt_wrap">
                <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product02.png" alt=""></div>
                <div class="p_txt">
                <h4>ビールとの相性抜群！ゴーヤーの苦味</h4>
                <h3 class="khaki">02.ゴーヤー餃子</h3>
                <p>沖縄産のゴーヤーを使用し、皮にもしぼり汁を練り込んだグリーンで見た目も鮮やかな餃子です。</p>
                <div class="btn_wrap_side">
                    <div class="btn_wrap">
                    <a href="products-detail.html">ゴーヤ餃子とは</a>
                    </div>
                    <div class="btn_wrap">
                    <a href="#">商品を買う</a>
                    </div>
                </div><!-- /btn_wrap_side-->
                </div><!-- /p_txt-->
            </div><!-- /p_txt_wrap-->
            </li>

            <li class="third scroll">
            <div class="p_txt_wrap">
                <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product03.png" alt=""></div>
                <div class="p_txt">
                <h4>日本一の生産地 うるま市勝連産もずく</h4>
                <h3 class="brown">03.もずく餃子</h3>
                <p>もずくの生産量日本一の沖縄県うるま市勝連半島地区もずくを使用。</p>
                <div class="btn_wrap_side">
                    <div class="btn_wrap">
                    <a href="products-detail.html">もずく餃子とは</a>
                    </div>
                    <div class="btn_wrap">
                    <a href="#">商品を買う</a>
                    </div>
                </div><!-- /btn_wrap_side-->
                </div><!-- /p_txt-->
            </div><!-- /p_txt_wrap-->
            </li>

            <li class="fourth reverse scroll">
            <div class="p_txt_wrap">
                <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product_04.png" alt=""></div>
                <div class="p_txt">
                <h4>伊江島の近海でとれるソデイカ・イカ使用</h4>
                <h3 class="navy">04.イカ墨餃子</h3>
                <p>沖縄美ら海水族館から望む伊江島近海でとれる体長2メートルにもなる巨大なソデイカを使用。</p>
                <div class="btn_wrap_side">
                    <div class="btn_wrap">
                    <a href="products-detail.html">イカ墨餃子とは</a>
                    </div>
                    <div class="btn_wrap">
                    <a href="#">商品を買う</a>
                    </div>
                </div><!-- /btn_wrap_side-->
                </div><!-- /p_txt-->
            </div><!-- /p_txt_wrap-->
            </li>

            <li class="fifth scroll">
            <div class="p_txt_wrap">
                <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product_05.png" alt=""></div>
                <div class="p_txt">
                <h4>パンチが効いた、にんにく3倍餃子！</h4>
                <h3 class="purple">05.にんにく餃子</h3>
                <p>琉珉珉ぎょうざに香りのパンチが効いたにんにくを通常の3倍使用！
                    パワーあふれる元気もりもり餃子です。</p>
                <div class="btn_wrap_side">
                    <div class="btn_wrap">
                    <a href="products-detail.html">にんにく餃子とは</a>
                    </div>
                    <div class="btn_wrap">
                    <a href="#">商品を買う</a>
                    </div>
                </div><!-- /btn_wrap_side-->
                </div><!-- /p_txt-->
            </div><!-- /p_txt_wrap-->
            </li>
        
            <li class="sixth reverse scroll">
            <div class="p_txt_wrap">
                <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product_06.png" alt=""></div>
                <div class="p_txt">
                <h4>たっぷりの旨味ととろける脂身、だけどヘルシー！</h4>
                <h3 class="dark-brown">06.アグー餃子</h3>
                <p>琉球在来豚の黒豚であるアグー豚の餃子。6ヶ月飼育で出荷される一般豚と異なり、アグー豚は約1年かけて出荷される貴重な黒豚です。</p>
                <div class="btn_wrap_side">
                    <div class="btn_wrap">
                    <a href="products-detail.html">アグー豚餃子とは</a>
                    </div>
                    <div class="btn_wrap">
                    <a href="#">商品を買う</a>
                    </div>
                </div><!-- /btn_wrap_side-->
                </div><!-- /p_txt-->
            </div><!-- /p_txt_wrap-->
            </li>

            <li class="seventh scroll">
            <div class="p_txt_wrap">
                <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product_07.png" alt=""></div>
                <div class="p_txt">
                <h4>辛さがクセになり、リピーター続出！</h4>
                <h3>07.島とうがらし餃子</h3>
                <p>皮に沖縄県産の島とうがらしを練り込み、旨辛な餃子に仕上げました。
                    辛味のあとくる芳しい香りが魅力的な一品です。</p>
                <div class="btn_wrap_side">
                    <div class="btn_wrap">
                    <a href="products-detail.html" class="space"> 島とうがらし餃子とは</a>
                    </div>
                    <div class="btn_wrap">
                    <a href="#">商品を買う</a>
                    </div>
                </div><!-- /btn_wrap_side-->
                </div><!-- /p_txt-->
            </div><!-- /p_txt_wrap-->
            </li>
        </ul>
        </div>

        <!-- スマホデザイン-->
        <div class="product_contents_sp"  data-simplebar>
        <ul class="producr_item scroll">
            <li>
            <div class="p-contents_inner">
                <div class="chum-box obj-fit">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/productimg01_sp.jpg" alt="">
                </div>
                <div class="p_txt_wrap">
                <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product01_sp.png" alt=""></div>
                <div class="p_txt">
                    <h4>沖縄県産豚100%使用！</h4>
                    <h3>01.琉珉珉餃子</h3>
                    <p>沖縄県産豚を100%使用した、肉汁がたっぷり溢れ出すジューシーで甘みのある餃子です。</p>
                    <div class="btn_wrap_side">
                    <div class="btn_wrap">
                        <a href="products-detail.html">琉珉珉餃子とは</a>
                    </div>
                    <div class="btn_wrap">
                        <a href="#">商品を買う</a>
                    </div>
                    </div><!-- /btn_wrap_side-->
                </div><!-- /p_txt-->
                </div><!-- /p_txt_wrap-->
            </div>
            </li>
            <li>
            <div class="p-contents_inner">
                <div class="chum-box obj-fit">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/productimg02_sp.jpg" alt="">
                </div>
                <div class="p_txt_wrap">
                <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product02_sp.png" alt=""></div>
                <div class="p_txt">
                    <h4>ビールとの相性抜群！ゴーヤーの苦味</h4>
                    <h3 class="khaki">02.ゴーヤー餃子</h3>
                    <p>沖縄産のゴーヤーを使用し、皮にもしぼり汁を練り込んだグリーンで見た目も鮮やかな餃子です。</p>
                    <div class="btn_wrap_side">
                    <div class="btn_wrap">
                        <a href="products-detail.html">ゴーヤ餃子とは</a>
                    </div>
                    <div class="btn_wrap">
                        <a href="#">商品を買う</a>
                    </div>
                    </div><!-- /btn_wrap_side-->
                </div><!-- /p_txt-->
                </div><!-- /p_txt_wrap-->
            </div>
            </li>
            <li>
            <div class="p-contents_inner">
                <div class="chum-box obj-fit">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/productimg03_sp.jpg" alt="">
                </div>
                <div class="p_txt_wrap">
                <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product03_sp.png" alt=""></div>
                <div class="p_txt">
                    <h4>日本一の生産地 うるま市勝連産もずく</h4>
                    <h3 class="brown">03.もずく餃子</h3>
                    <p class="mozuku_text">もずくの生産量日本一の沖縄県うるま市勝連半島地区もずくを使用。</p>
                    <div class="btn_wrap_side">
                    <div class="btn_wrap">
                        <a href="products-detail.html">もずく餃子とは</a>
                    </div>
                    <div class="btn_wrap">
                        <a href="#">商品を買う</a>
                    </div>
                    </div><!-- /btn_wrap_side-->
                </div><!-- /p_txt-->
                </div><!-- /p_txt_wrap-->
            </div>
            </li>
            <li>
            <div class="p-contents_inner">
                <div class="chum-box">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/productimg04_sp.jpg" alt="">
                </div>
                <div class="p_txt_wrap">
                <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product04_sp.png" alt=""></div>
                <div class="p_txt">
                    <h4>伊江島の近海でとれるソデイカ・イカ使用</h4>
                    <h3 class="navy">04.イカ墨餃子</h3>
                    <p>沖縄美ら海水族館から望む伊江島近海でとれる体長2メートルにもなる巨大なソデイカを使用。</p>
                    <div class="btn_wrap_side">
                    <div class="btn_wrap">
                        <a href="products-detail.html">イカ墨餃子とは</a>
                    </div>
                    <div class="btn_wrap">
                        <a href="#">商品を買う</a>
                    </div>
                    </div><!-- /btn_wrap_side-->
                </div><!-- /p_txt-->
                </div><!-- /p_txt_wrap-->
            </div>
            </li>
            <li>
            <div class="p-contents_inner">
                <div class="chum-box">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/productimg05_sp.jpg" alt="">
                </div>
                <div class="p_txt_wrap">
                <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product05_sp.png" alt=""></div>
                <div class="p_txt">
                    <h4>パンチが効いた、にんにく3倍餃子！</h4>
                    <h3 class="purple">05.にんにく餃子</h3>
                    <p>琉珉珉ぎょうざに香りのパンチが効いたにんにくを通常の3倍使用！
                    パワーあふれる元気もりもり餃子です。</p>
                    <div class="btn_wrap_side">
                    <div class="btn_wrap">
                        <a href="products-detail.html">にんにく餃子とは</a>
                    </div>
                    <div class="btn_wrap">
                        <a href="#">商品を買う</a>
                    </div>
                    </div><!-- /btn_wrap_side-->
                </div><!-- /p_txt-->
                </div><!-- /p_txt_wrap-->
            </div>
            </li>
            <li class="long">
            <div class="p-contents_inner">
                <div class="chum-box">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/productimg06_sp.jpg" alt="">
                </div>
                <div class="p_txt_wrap long_txt_wrap">
                <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product06_sp.png" alt=""></div>
                <div class="p_txt">
                    <h4 class="agu_heading">たっぷりの旨味ととろける脂身、だけどヘルシー！</h4>
                    <h3 class="dark-brown">06.アグー餃子</h3>
                    <p>琉球在来豚の黒豚であるアグー豚の餃子。6ヶ月飼育で出荷される一般豚と異なり、アグー豚は約1年かけて出荷される貴重な黒豚です。</p>
                    <div class="btn_wrap_side">
                    <div class="btn_wrap">
                        <a href="products-detail.html">アグー豚餃子とは</a>
                    </div>
                    <div class="btn_wrap">
                        <a href="#">商品を買う</a>
                    </div>
                    </div><!-- /btn_wrap_side-->
                </div><!-- /p_txt-->
                </div><!-- /p_txt_wrap-->
            </div>
            </li>
            <li class="long">
            <div class="p-contents_inner">
                <div class="chum-box">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/productimg07_sp.jpg" alt="">
                </div>
                <div class="p_txt_wrap long_txt_wrap">
                <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product07_sp.png" alt=""></div>
                <div class="p_txt">
                    <h4>辛さがクセになり、リピーター続出！</h4>
                    <h3>07.島とうがらし餃子</h3>
                    <p>皮に沖縄県産の島とうがらしを練り込み、旨辛な餃子に仕上げました。
                    辛味のあとくる芳しい香りが魅力的な一品です。</p>
                    <div class="btn_wrap_side">
                    <div class="btn_wrap">
                        <a href="products-detail.html" class="space"> 島とうがらし餃子とは</a>
                    </div>
                    <div class="btn_wrap">
                        <a href="#">商品を買う</a>
                    </div>
                    </div><!-- /btn_wrap_side-->
                </div><!-- /p_txt-->
                </div><!-- /p_txt_wrap-->
            </div>
            </li>
        </ul>
        </div>
    </div><!--/.inner -->
    </div><!--/.product_wrap -->
</section>

<section class="category">
    <div class="inner category_inner">
    <div class="title_wrap">
        <p class="sub scroll"><span>CATEGORY</span></p>
        <h2 class="title scroll">商品カテゴリー</h2>
    </div>
    <ul class="list_item scroll">
        <li>
        <a href="#" class="category_list">
            <div class="card_img obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/cate-ryuminmin.jpg" alt="琉珉珉餃子">
            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/" alt="">
            </div>
            <p class="cate_text">琉珉珉餃子</p>
        </a>
        </li>
        <li>
        <a href="#" class="category_list">
            <div class="card_img obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/cate-goya.jpg" alt="ゴーヤー餃子">
            </div>
            <p class="cate_text ">ゴーヤー餃子</p>
        </a>
        </li>

        <li>
        <a href="#" class="category_list">
            <div class="card_img obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/cate-mozuku.jpg" alt="">
            </div>
            <p class="cate_text">もずく餃子</p>
        </a>
        </li>

        <li>
        <a href="#" class="category_list">
            <div class="card_img obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/cate-ikasumi.jpg" alt="">
            </div>
            <p class="cate_text">イカ墨餃子</p>
        </a>
        </li>

        <li>
        <a href="#" class="category_list">
            <div class="card_img obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/cate-ninniku.jpg" alt="">
            </div>
            <p class="cate_text two_lines">にんにく餃子</p>
        </a>
        </li>

        <li>
        <a href="#" class="category_list">
            <div class="card_img obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/cate-agu.jpg" alt="">
            </div>
            <p class="cate_text">アグー餃子</p>
        </a>
        </li>

        <li>
        <a href="#" class="category_list">
            <div class="card_img obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/cate-tougarashi.jpg" alt="">
            </div>
            <p class="cate_text">島とうがらし餃子</p>
        </a>
        </li>

        <li>
        <a href="#" class="category_list">
            <div class="card_img obj-fit">
            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/cate-otameshi.jpg" alt="">
            </div>
            <p class="cate_text">お試し/セット</p>
        </a>
        </li>
    </ul>
    <div class="btn_wrap scroll">
        <a href="products.html">全ての商品を見る</a>
    </div>
    </div>
</section>

<div class="bake">
    <div class="bake_wrap">
    <div class="bake_inner">
        <div class="bake_btn_wrap">
        <a href="about.html#bake">餃子の美味しい焼き方</a>
        </div>
    </div><!--bake_inner-->
    </div><!--bake_wrap-->
</div><!--bake-->

<section class="faq">
    <div class="inner">
    <div class="title_wrap">
        <p class="sub scroll"><span>FAQ</span></p>
        <h2 class="title scroll">よくあるご質問</h2>
    </div>
    <ul class="link_item scroll">
        <li>
        <a href="faq.html#order_payment" class="link_list">
            <div class="link_text_wrap">
            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/money_icon.svg" alt="" class="icon">
            <p class="link_text">注文・<br class="tb">支払いについて</p>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/arrow.svg" alt="">
        </a>
        </li>
        <li>
        <a href="faq.html#shipping_cost" class="link_list">
            <div class="link_text_wrap">
            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/truck_icon.svg" alt="" class="icon">
            <p class="link_text">配送・<br class="tb">送料について</p>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/arrow.svg" alt="">
        </a>
        </li>

        <li>
        <a href="faq.html#return_exchange" class="link_list">
            <div class="link_text_wrap">
            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/box_icon.svg" alt="" class="icon">
            <p class="link_text">返品・<br class="tb">交換について</p>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/arrow.svg" alt="">
        </a>
        </li>
    </ul>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // スクロール後にヘッダーの背景カラーを変更
        $(window).on('scroll', function () {
        if ($('.p-top_mv').height() < $(this).scrollTop()) {
            $('.js-header').addClass('change-color');
        } else {
            $('.js-header').removeClass('change-color');
        }
        });

        // トップMVスライダーの初期化
        const swiper = new Swiper(".swiper", {
        loop: true,
        effect: 'fade',
        speed: 3000, // 3秒かけながら次の画像へ移動
        autoplay: {
            delay: 4000, // 4秒後に次の画像へ
            disableOnInteraction: false, // ユーザー操作後に自動再生を再開する
        },
        allowTouchMove: false, // マウスでのスワイプを禁止
        });

        // スクロールイベントで要素が表示されたらクラスを追加
        // https://github.com/protonet/jquery.inview /で対応
        $('.scroll').on('inview', function () {
        $(this).addClass('active'); // activeクラスを追加
        });
    });
</script>

{% schema %}
    {
    "name": "top-page",
    "presets": [
    {
        "name": "top-page"
    }
    ]
}
{% endschema %}