<!-- 固定フィルター -->
<div class="filter_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/bg_fixd.png" alt=""></div>
<div class="about_mv">
    <div class="underpage_title">
        <p class="u_sub_title">ABOUT US</p>
        <h1 class="aboutpage_title obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/aboutpage_title.png" alt="琉珉珉について"></h1>
    </div>
    <div class="fv_text">
        <div class="text_inner">
            <p class="underpage_subtitle">ご当地餃子の新定番</p>
            <h2 class="underpage_title_wrap obj-fit">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/okinawagyouza.png" alt="沖縄餃子">
            </h2>
            <div class="intro_title_wrap">
                <h3 class="intro_title01">老舗の餃子屋</h3>
                <p>×</p>
                <h3 class="intro_title02">沖縄の特産品</h3>
            </div>
            <p class="intro_text">沖縄で本格的な餃子専門店として創業。
                <br>以来約60年に渡り美味しい餃子にこだわり生産を続けて来ました。
                <br>地元食材である県産豚を使った「沖縄県産豚餃子」や、新鮮な沖縄産ゴーヤーを使った「沖縄ゴーヤー餃子」など沖縄ならではの美味しさを追求したオリジナルの味わいをお楽しみ下さい。</p>
        </div>
    </div>
    <div class="left_img obj-fit">
        <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/mv02_r.png" alt="">
    </div>
    <div class="right_img obj-fit">
        <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/mv01_l.png" alt="">
    </div>
</div>
<section class="about_lineup">
    <div class="small_title">
        <p class="sub_title_s">LINE UP</p>
        <h2 class="title_s">沖縄餃子ラインナップ</h2>
    </div>
    <div class="myswiper_wrapper">
        <div class="swiper-container swiper02">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="item_wrap">
                        <div class="thumn-box obj-fit">
                            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/about_lineup01.jpg" alt="">
                        </div>
                        <div class="content_wrap">
                            <p class="lineup_text">沖縄県産豚100%使用！</p>
                            <p class="item_name">琉珉珉餃子</p>
                            {% comment %} <div class="btn_wrap lineup_btn">
                                <a href="products-detail.html#explanation">琉珉珉餃子とは</a>
                            </div> {% endcomment %}
                            <div class="btn_wrap lineup_btn">
                            <a href="/collections/ryuminmin/">商品を買う</a>
                            </div>
                        </div>
                    </div>

                    <!--spデザイン-->
                    <div class="item_wrap_sp">
                        <div class="p-contents_inner">
                            <div class="chum-box obj-fit">
                            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/productimg01_sp.jpg" alt="">
                            </div>
                            <div class="p_txt_wrap">
                            <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product01_sp.png" alt=""></div>
                            <div class="p_txt">
                                <h4>沖縄県産豚100%使用！</h4>
                                <h3>01.琉珉珉餃子</h3>
                                <p>沖縄県産豚を100%使用した、肉汁がたっぷり溢れ出すジューシーで甘みのある餃子です。</p>
                                <div class="btn_wrap_side">
                                {% comment %} <div class="btn_wrap">
                                    <a href="products-detail.html">琉珉珉餃子とは</a>
                                </div> {% endcomment %}
                                <div class="btn_wrap">
                                    <a href="/collections/ryuminmin/#list">商品を買う</a>
                                </div>
                                </div><!-- /btn_wrap_side-->
                            </div><!-- /p_txt-->
                            </div><!-- /p_txt_wrap-->
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_wrap">
                        <div class="thumn-box obj-fit">
                            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/about_lineup02.jpg" alt="">
                        </div>
                        <div class="content_wrap">
                            <p class="lineup_text">ビールとの相性抜群！</p>
                            <p class="item_name">ゴーヤー餃子</p>
                            {% comment %} <div class="btn_wrap lineup_btn">
                                <a href="products-detail.html#explanation">ゴーヤ餃子とは</a>
                            </div> {% endcomment %}
                            <div class="btn_wrap lineup_btn">
                            <a href="/collections/goya/#list">商品を買う</a>
                            </div>
                        </div>
                    </div>

                    <div class="item_wrap_sp">
                        <div class="p-contents_inner">
                            <div class="chum-box obj-fit">
                            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/productimg02_sp.jpg" alt="">
                            </div>
                            <div class="p_txt_wrap">
                            <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product02_sp.png" alt=""></div>
                            <div class="p_txt">
                                <h4>ビールとの相性抜群！ゴーヤーの苦味</h4>
                                <h3 class="khaki">02.ゴーヤー餃子</h3>
                                <p>沖縄産のゴーヤーを使用し、皮にもしぼり汁を練り込んだグリーンで見た目も鮮やかな餃子です。</p>
                                <div class="btn_wrap_side">
                                {% comment %} <div class="btn_wrap">
                                    <a href="products-detail.html">ゴーヤ餃子とは</a>
                                </div> {% endcomment %}
                                <div class="btn_wrap">
                                    <a href="/collections/goya/#list">商品を買う</a>
                                </div>
                                </div><!-- /btn_wrap_side-->
                            </div><!-- /p_txt-->
                            </div><!-- /p_txt_wrap-->
                        </div>
                        </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_wrap">
                        <div class="thumn-box obj-fit">
                            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/about_lineup03.jpg" alt="">
                        </div>
                        <div class="content_wrap">
                            <p class="lineup_text">うるま市勝連産もずく</p>
                            <p class="item_name">もずく餃子</p>
                            {% comment %} <div class="btn_wrap lineup_btn">
                                <a href="products-detail.html#explanation">もずく餃子とは</a>
                            </div> {% endcomment %}
                            <div class="btn_wrap lineup_btn">
                            <a href="/collections/mozuku/#list">商品を買う</a>
                            </div>
                        </div>
                    </div>

                    <div class="item_wrap_sp">
                        <div class="p-contents_inner">
                            <div class="chum-box obj-fit">
                                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/productimg03_sp.jpg" alt="">
                            </div>
                            <div class="p_txt_wrap">
                                <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product03_sp.png" alt=""></div>
                                <div class="p_txt">
                                <h4>日本一の生産地 うるま市勝連産もずく</h4>
                                <h3 class="brown">03.もずく餃子</h3>
                                <p class="mozuku_text">もずくの生産量日本一の沖縄県うるま市勝連半島地区もずくを使用。</p>
                                <div class="btn_wrap_side">
                                    {% comment %} <div class="btn_wrap">
                                    <a href="products-detail.html">もずく餃子とは</a>
                                    </div> {% endcomment %}
                                    <div class="btn_wrap">
                                    <a href="/collections/mozuku/#list">商品を買う</a>
                                    </div>
                                </div><!-- /btn_wrap_side-->
                                </div><!-- /p_txt-->
                            </div><!-- /p_txt_wrap-->
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="item_wrap">
                        <div class="thumn-box obj-fit">
                            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/about_lineup04.jpg" alt="">
                        </div>
                        <div class="content_wrap">
                            <p class="lineup_text">伊江島産ソデイカ</p>
                            <p class="item_name">イカ墨餃子</p>
                            {% comment %} <div class="btn_wrap lineup_btn">
                                <a href="products-detail.html#explanation">イカ墨餃子とは</a>
                            </div> {% endcomment %}
                            <div class="btn_wrap lineup_btn">
                            <a href="/collections/ikasumi/#list">商品を買う</a>
                            </div>
                        </div>
                    </div>

                    <div class="item_wrap_sp">
                        <div class="p-contents_inner">
                            <div class="chum-box">
                            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/productimg04_sp.jpg" alt="">
                            </div>
                            <div class="p_txt_wrap">
                            <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product04_sp.png" alt=""></div>
                            <div class="p_txt">
                                <h4>伊江島の近海でとれるソデイカ・イカ使用</h4>
                                <h3 class="navy">04.イカ墨餃子</h3>
                                <p>沖縄美ら海水族館から望む伊江島近海でとれる体長2メートルにもなる巨大なソデイカを使用。</p>
                                <div class="btn_wrap_side">
                                {% comment %} <div class="btn_wrap">
                                    <a href="products-detail.html">イカ墨餃子とは</a>
                                </div> {% endcomment %}
                                <div class="btn_wrap">
                                    <a href="/collections/ikasumi/#list">商品を買う</a>
                                </div>
                                </div><!-- /btn_wrap_side-->
                            </div><!-- /p_txt-->
                            </div><!-- /p_txt_wrap-->
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="item_wrap">
                        <div class="thumn-box obj-fit">
                            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/about_lineup05.jpg" alt="">
                        </div>
                        <div class="content_wrap">
                            <p class="lineup_text">にんにく3倍餃子！</p>
                            <p class="item_name">にんにく餃子</p>
                            {% comment %} <div class="btn_wrap lineup_btn">
                                <a href="products-detail.html#explanation">にんにく餃子とは</a>
                            </div> {% endcomment %}
                            <div class="btn_wrap lineup_btn">
                            <a href="/collections/ninniku/#list">商品を買う</a>
                            </div>
                        </div>
                    </div>

                    <div class="item_wrap_sp">
                        <div class="p-contents_inner">
                            <div class="chum-box">
                            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/productimg05_sp.jpg" alt="">
                            </div>
                            <div class="p_txt_wrap">
                            <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product05_sp.png" alt=""></div>
                            <div class="p_txt">
                                <h4>パンチが効いた、にんにく3倍餃子！</h4>
                                <h3 class="purple">05.にんにく餃子</h3>
                                <p>琉珉珉ぎょうざに香りのパンチが効いたにんにくを通常の3倍使用！
                                パワーあふれる元気もりもり餃子です。</p>
                                <div class="btn_wrap_side">
                                {% comment %} <div class="btn_wrap">
                                    <a href="products-detail.html">にんにく餃子とは</a>
                                </div> {% endcomment %}
                                <div class="btn_wrap">
                                    <a href="/collections/ninniku/#list">商品を買う</a>
                                </div>
                                </div><!-- /btn_wrap_side-->
                            </div><!-- /p_txt-->
                            </div><!-- /p_txt_wrap-->
                        </div>
                        </div>
                </div>

                <div class="swiper-slide">
                    <div class="item_wrap">
                        <div class="thumn-box obj-fit">
                            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/about_lineup06.jpg" alt="">
                        </div>
                        <div class="content_wrap">
                            <p class="lineup_text">県産アグー豚の旨み！</p>
                            <p class="item_name">アグー餃子</p>
                            {% comment %} <div class="btn_wrap lineup_btn">
                                <a href="products-detail.html#explanation">アグー餃子とは</a>
                            </div> {% endcomment %}
                            <div class="btn_wrap lineup_btn">
                            <a href="/collections/agu/#list">商品を買う</a>
                            </div>
                        </div>
                    </div>
                    <div class="item_wrap_sp long">
                        <div class="p-contents_inner">
                            <div class="chum-box">
                            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/productimg06_sp.jpg" alt="">
                            </div>
                            <div class="p_txt_wrap long_txt_wrap">
                            <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product06_sp.png" alt=""></div>
                            <div class="p_txt">
                                <h4 class="agu_heading">たっぷりの旨味ととろける脂身、だけどヘルシー！</h4>
                                <h3 class="dark-brown">06.アグー餃子</h3>
                                <p>琉球在来豚の黒豚であるアグー豚の餃子。6ヶ月飼育で出荷される一般豚と異なり、アグー豚は約1年かけて出荷される貴重な黒豚です。</p>
                                <div class="btn_wrap_side">
                                {% comment %} <div class="btn_wrap">
                                    <a href="products-detail.html">アグー豚餃子とは</a>
                                </div> {% endcomment %}
                                <div class="btn_wrap">
                                    <a href="/collections/agu/#list">商品を買う</a>
                                </div>
                                </div><!-- /btn_wrap_side-->
                            </div><!-- /p_txt-->
                            </div><!-- /p_txt_wrap-->
                        </div>
                        </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_wrap">
                        <div class="thumn-box obj-fit">
                            <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/about_lineup07.jpg" alt="">
                        </div>
                        <div class="content_wrap">
                            <p class="lineup_text">辛さがクセになる！</p>
                            <p class="item_name">島とうがらし餃子</p>
                            {% comment %} <div class="btn_wrap lineup_btn chilipepper">
                                <a href="products-detail.html#explanation">島とうがらし餃子とは</a>
                            </div> {% endcomment %}
                            <div class="btn_wrap lineup_btn">
                            <a href="/collections/shimatougarashi/#list">商品を買う</a>
                            </div>
                        </div>
                    </div>

                    <div class="item_wrap_sp long">
                        <div class="p-contents_inner">
                            <div class="chum-box">
                                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/productimg07_sp.jpg" alt="">
                            </div>
                            <div class="p_txt_wrap long_txt_wrap">
                                <div class="product_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/product07_sp.png" alt=""></div>
                                <div class="p_txt">
                                <h4>辛さがクセになり、リピーター続出！</h4>
                                <h3>07.島とうがらし餃子</h3>
                                <p>皮に沖縄県産の島とうがらしを練り込み、旨辛な餃子に仕上げました。
                                    辛味のあとくる芳しい香りが魅力的な一品です。</p>
                                <div class="btn_wrap_side">
                                    {% comment %} <div class="btn_wrap">
                                    <a href="products-detail.html" class="space"> 島とうがらし餃子とは</a>
                                    </div> {% endcomment %}
                                    <div class="btn_wrap">
                                    <a href="/collections/shimatougarashi/#list">商品を買う</a>
                                    </div>
                                </div><!-- /btn_wrap_side-->
                                </div><!-- /p_txt-->
                            </div><!-- /p_txt_wrap-->
                        </div>
                    </div>
                </div>
                </div><!--swiper_wrapper-->
            </div><!--swiper02-->
        <div class="swiper-scrollbar"></div>
    </div><!--myswiper_wrapper-->
    <div class="btn_wrap sp_btn">
        <a href="/collections/all/#list">全ての商品</a>
    </div>
</section>

<section class="history">
    <div class="bg_illust_lineup obj-fit">
        <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/bg_illust_l.png" alt="">
    </div>
    <div class="history_inner scroll">
        <div class="left_wrap">
            <div class="history_title_wrap">
                <h2 class="history_title obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/rekishi_title.png" alt="琉珉珉の歴史">
                </h2>
                <p class="sub"><span>HISTORY</span></p>
            </div>
            <div class="thum-box obj-fit">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/gm.png" alt="製造責任者 比嘉竜児">
            </div>
        </div>
        <div class="right_wrap">
            <p class="top_text">今から約60年前の1965年、母の祖父と祖母が沖縄県浦添市の屋富祖の繁華街に建坪5坪程度の小さな餃子店を開業しました。
                <br>その頃沖縄には餃子屋さんと言う本格的な店は無く、以後地元で餃子屋の愛称で親しまれ、1983年に沖縄県那覇市の久米に、琉珉珉2号店を出店、順調だった久米店でしたが、15年程前に母が大病をし、やむなく久米店を閉店いたしました。
                <br>その後元気になった母は、地域の量販店である「スーパーかねひで」のお惣菜として琉珉珉餃子を販売。
                <br>みるみる内に反響を得、60店舗、一日平均1万個の手づくり餃子を続け、2006年には設備を増強、販路を拡大し、琉珉珉餃子を沖縄県内の量販店や全国で行われている沖縄物産展での販売を開始いたしました。
                <br>独自の製法で具材や皮などに沖縄地域特産品を使用し、ゴーヤー餃子、もずく餃子、イカ墨餃子など、これまで無かった餃子を長年の技術と知識で独自に研究開発し、地域の若手の農業者、漁民の皆さんと沖縄餃子のブランドを作り、2012年からは、沖縄と言う立地を活かし、本格的に海外進出し、香港を皮切りに、マカオへの輸出を行い現在では、月産100万個の餃子を生産しています。
            </p>
            <p class="under_text">
                日本本土での販売は、今まで全国の沖縄物産展のみで行って参りましたが、多方面からお問い合わせや、ご要望を頂きまして、この度インターネットでの通販を開始致します。
                <br>是非元祖沖縄餃子を、一度ご賞味頂ければ幸いです。
            </p>
            <div class="name_wrap">
                <p>株式会社 琉珉珉</p>
                <p>代表取締役 比嘉 竜児</p>
            </div>
        </div>
    </div>
</section>

<div class="scroll_img">
    <div class="swiper03">
        <div class="swiper-wrapper">
            <div class="swiper-slide obj-fit">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/scroll_img01.jpg" alt="">
            </div>
            <div class="swiper-slide obj-fit">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/scroll_img02.jpg" alt="">
            </div>
            <div class="swiper-slide obj-fit">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/scroll_img03.jpg" alt="">
            </div>
                <div class="swiper-slide obj-fit">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/scroll_img04.jpg" alt="">
            </div>
            <div class="swiper-slide obj-fit">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/scroll_img05.jpg" alt="">
            </div>
            <div class="swiper-slide obj-fit">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/scroll_img06.jpg"alt="">
            </div>
            <div class="swiper-slide obj-fit">
                <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/scroll_img07.jpg"alt="">
            </div>
        </div>
    </div>
</div>

<section class="how-to-bake">
    <div class="bake_inner">
        <p class="sub scroll" id="bake">老舗餃子屋が教える！</p>
        <h2 class="bake_title scroll">餃子の美味しい焼き方</h2>
        <div class="bake_content_wrap scroll">
            <div class="bake_content step1">
                <div class="thum-box obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/step1_img.jpg" alt="">
                </div>
                <p class="bake_text">
                    フライパンを熱して油を大さじ5杯から6杯たっぷり引きます。
                    <br>（ごま油を少量混ぜると、より美味しくいただけます。）
                </p>
            </div>
            <div class="bake_content step2">
                <div class="thum-box obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/step2_img.jpg" alt="">
                </div>
                <p class="bake_text">
                    餃子を凍ったままフライパンに並べます。
                </p>
            </div>
            <div class="bake_content step3">
                <div class="thum-box obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/step3_img.jpg" alt="">
                </div>
                <p class="bake_text">
                    餃子がきつね色に焼けたらすぐに餃子が半分浸る程度に水または熱湯をかけます。
                </p>
            </div>
            <div class="bake_content step4">
                <div class="thum-box obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/step4_img.jpg" alt="">
                </div>
                <p class="bake_text">
                    フライパンに蓋をして強火のまま待ちます。
                </p>
            </div>
            <div class="bake_content step5">
                <div class="thum-box obj-fit">
                    <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/step5_img.jpg" alt="">
                </div>
                <p class="bake_text">
                    水がなくなって焦げ目がついたら出来上がりです。
                </p>
            </div>
        </div>
    </div><!--/bake_content_wrap-->
    <div class="bg_illust_bake obj-fit">
        <img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/bg_illust_r.png" alt="">
    </div>
</section>

{% render 'under_faq' %}

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // スクロールイベントで要素が表示されたらクラスを追加
        // https://github.com/protonet/jquery.inview /で対応
        $('.scroll').on('inview', function () { // .scrollが表示されたら
            $(this).addClass('active'); // activeクラスを追加
        });

        // Swiperの初期化
        const swiper02 = new Swiper(".swiper02", {
            loop: true,
            slidesPerView: 'auto',
            spaceBetween: 30,
            speed: 2000,
            touchRatio: 0.03,
            autoplay: {
                delay: 3000,
            },
            breakpoints: {
                320: {
                    slidesPerView: 'auto',
                    spaceBetween: 30,
                    speed: 2000,
                },
                // タブレット用の設定
                768: {
                    slidesPerView: 'auto',
                    spaceBetween: 20,
                    speed: 2000,
                },
                1200: {
                    slidesPerView: 'auto',
                    spaceBetween: 30,
                    speed: 2000,
                },
                1920: {
                    slidesPerView: 'auto',
                    spaceBetween: 30,
                    speed: 2000,
                },
                2400: {
                    slidesPerView: 'auto',
                    spaceBetween: 30,
                    speed: 2000,
                },
            },
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        });

        const swiper = new Swiper(".swiper03", {
            loop: true, // ループ有効
            slidesPerView: 4, // 一度に表示する枚数
            speed: 6000, // ループの時間
            allowTouchMove: false, // スワイプ無効
            autoplay: {
                delay: 0, // 途切れなくループ
            },
            breakpoints: {
                320: {
                    slidesPerView: 'auto',
                },
                // タブレット用の設定
                599: {
                    slidesPerView: 3 ,
                },
                1200: {
                    slidesPerView: 3.5,
                },
            },
        });
    });
</script>

