<!-- 固定フィルター -->
<div class="filter_img obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/bg_fixd.png" alt=""></div>
<div class="about_mv">
    <div class="underpage_title">
        <p class="u_sub_title">TERMS</p>
        <h1 class="terms_title obj-fit"><img src="https://cdn.shopify.com/s/files/1/0669/5790/1973/files/terms_ttl.png" alt="特定商取引法に基づく表記"></h1>
    </div>
</div>
<section class="underpage_wrap">
    <div class="table_text_wrap">
        <ul class="table_wrap">
            <li>
                <p class="heading">販売業者</p>
                <p class="contents">株式会社 琉珉珉</p>
            </li>
            <li>
                <p class="heading">運営統括責任者</p>
                <p class="contents">比嘉竜児</p>
            </li>
            <li>
                <p class="heading">所在地</p>
                <p class="contents">〒901-2131 沖縄県浦添市牧港4丁目25番6号</p>
            </li>
            <li>
                <p class="heading">TEL</p>
                <p class="contents">098-875-0178</p>
            </li>
            <li>
                <p class="heading">FAX</p>
                <p class="contents">098-875-0179</p>
            </li>
            <li>
                <p class="heading">メールアドレス</p>
                <p class="contents"><span class="change_pink">xxxx@sample.com</span></p>
            </li>
            <li>
                <p class="heading">取扱商品</p>
                <p class="contents">餃子</p>
            </li>
            <li>
                <p class="heading">販売価格</p>
                <p class="contents">各商品ページをご参照ください。</p>
            </li>
            <li>
                <p class="heading">商品代金以外の<br>必要料金</p>
                <p class="contents">■クレジットカード決済 : 手数料無料</p>
            </li>
            <li>
                <p class="heading">送料について</p>
                <p class="contents">全国一律送料無料
                    <br>※一部地域は追加送料がかかる場合があります。
                </p>
            </li>
            <li>
                <p class="heading">申し込みの<br class="sp">有効期限</p>
                <p class="contents">原則、受注確認（受注確認の為の自動送信メール発信）後、10日間とします。</p>
            </li>
            <li>
                <p class="heading">不良品</p>
                <p class="contents">商品が手元に届きましたら、商品に不備がないか必ずご確認をお願いいたします。
                    <br>商品の品質管理には、万全の注意を払っておりますが、下記のような不備が生じた際には
                    早急に対応いたしますので、商品到着より3日以内にご連絡ください。
                    <br>
                    <br>・商品が解凍、破損していた場合
                    <br>・ご注文と異なる商品が届いた場合
                    <br>
                    <br>※商品をパッケージとともに保管しておいてください。
                    <br>※送料は当店にて負担し、早急に代替品をお送りいたします。  
                </p>
            </li>
            <li>
                <p class="heading">販売数量</p>
                <p class="contents">特に指定はございません（商品によって設定あり）</p>
            </li>
            <li>
                <p class="heading">引き渡し時期</p>
                <p class="contents">■お届け日指定なし
                    <br>ご注文より2～3営業日の出荷となります。
                    <br>(土日曜・祝祭日を除く)
                    <br>
                    <br>■お届け日指定あり
                    <br>ご注文・ご入金確認後より、1営業日以降でご指定を承ります。
                    <br>お届けの希望時間帯をお選びいただけます。入力画面よりご指定ください。
                    <br>午前中／14時～16時／16時～18時／19時～21時
                    <br>※天候不良、交通事情などの理由によりご指定日に届かない場合がございます。
                </p>
            </li>
            <li>
                <p class="heading">お支払い方法</p>
                <p class="contents">クレジット</p>
            </li>
            <li>
                <p class="heading">返品・交換に<br class="sp">ついて</p>
                <p class="contents">
                    ■当店原因による商品の欠陥や不良
                    <br>商品が手元に届きましたら、商品に不備がないか必ずご確認をお願いいたします。
                    <br>商品の品質管理には、万全の注意を払っておりますが、下記のような不備が生じた際には
                    早急に対応いたしますので、商品到着より3日以内にご連絡ください。
                    <br>
                    <br>・商品が解凍、破損していた場合
                    <br>・ご注文と異なる商品が届いた場合
                    <br>
                    <br>※商品をパッケージとともに保管しておいてください。
                    <br>※送料は当店にて負担し、早急に代替品をお送りいたします。
                    <br>商品の品質上、お客様のご都合でのご返品は、固くお断りしております。
                    予めご了承ください。
                    <br>
                    <br>〈営業時間〉午前10時～午後17時（土日・祝日除く）
                    <br>株式会社 琉珉珉
                    <br>〒 902-0061 浦添市牧港4丁目25番6号
                    <br>TEL：098-875-0178
                    <br>
                    <br>■お客様都合により返送された場合
                    <br>受取拒否、もしくは運営会社様の保管期間切れにより商品が返送された場合は、往復の送料及びご返金に関わる振込手数料が発生いたしますのでご注意ください。
                </p>
            </li>
        </ul>
    </div>
</section>

{% render 'under_faq' %}

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        $(document).ready(function() {
            if (typeof jQuery !== 'undefined') {
                console.log('jQuery is loaded');
            } else {
                console.error('jQuery is not loaded');
            }

            if ($.fn.inview) {
                console.log('inview is loaded');
            } else {
                console.error('inview is not loaded');
            }

            $('.scroll').on('inview', function () {
                $(this).addClass('active');
            });
        });
    });
</script>